<div class="container" style="max-width:100%">
  <div class="mat-elevation-z8">
    <table mat-table multiTemplateDataRows [dataSource]="dataSource" style="width:100%">

      <!-- PatientId Column -->
      <ng-container matColumnDef="PatientId">
        <mat-header-cell *matHeaderCellDef> PatientId </mat-header-cell>
        <mat-cell *matCellDef="let PatientDetails"> {{PatientDetails.PatientId}} </mat-cell>
      </ng-container>

      <!-- FirstName Column -->
      <ng-container matColumnDef="FirstName">
        <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
        <mat-cell *matCellDef="let PatientDetails"> {{PatientDetails.FirstName}} </mat-cell>
      </ng-container>

      <!-- LastName Column -->
      <ng-container matColumnDef="LastName">
        <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
        <mat-cell *matCellDef="let PatientDetails"> {{PatientDetails.LastName}} </mat-cell>
      </ng-container>

      <!-- Phone Column -->
      <ng-container matColumnDef="Phone">
        <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
        <mat-cell *matCellDef="let PatientDetails"> {{PatientDetails.Phone}} </mat-cell>
      </ng-container>

      <!-- DoctorName Column -->
      <ng-container matColumnDef="DoctorName">
        <mat-header-cell *matHeaderCellDef> Doctor Name </mat-header-cell>
        <mat-cell *matCellDef="let PatientDetails"> {{PatientDetails.DoctorName}} </mat-cell>
      </ng-container>

      <!-- TotalAmount Column -->
      <ng-container matColumnDef="TotalAmount">
        <mat-header-cell *matHeaderCellDef> Total Amount </mat-header-cell>
        <mat-cell *matCellDef="let PatientDetails"> {{PatientDetails.TotalAmount}} </mat-cell>
      </ng-container>

      <!-- BalanceAmount Column -->
      <ng-container matColumnDef="BalanceAmount">
        <mat-header-cell *matHeaderCellDef> Balance Amount </mat-header-cell>
        <mat-cell *matCellDef="let PatientDetails" [ngStyle]="{'background-color': PatientDetails.BalanceAmount>0 ? 'coral' : 'white'}"> {{PatientDetails.BalanceAmount}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length" class="example-element-detail"
                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              {{element.CreatedOn}}
          <button mat-raised-button color="primary">Update Patient</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let element; columns: columnsToDisplay;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </mat-row>
      <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></mat-row>

    </table>

    <mat-paginator [length]="100"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 50, 100]"
                   showFirstLastButtons>
    </mat-paginator>

  </div>
</div>
