<div class="container">
  <div style="text-align:center; margin:20px">
    <button mat-button mat-raised-button color="primary" style="margin-right:20px" (click)="AddTest()">Add Test</button>
    <button mat-button mat-raised-button color="primary" (click)="ShowUpdate()">Update Test</button>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>S. No.</th>
          <th>Test Name</th>
          <th>Test Code</th>
          <th>Test Price</th>
          <th *ngIf="update">Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let test of tests; let i=index">
          <td>{{i+1}}</td>
          <td>{{test.TestName}}</td>
          <td>{{test.TestCode}}</td>
          <td>{{test.TestPrice}}</td>
          <td *ngIf="update"><button mat-button mat-raised-button color="primary" (click)="UpdateTest(test)">Update</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
